body {
    background-color: #000000;
    color: #00f0ff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    border-bottom: 2px solid #00f0ff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #00f0ff;
    text-shadow: 0 0 10px #00f0ff;
}

nav a {
    color: rgb(224, 71, 117);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-shadow: 0 0 5px #00f0ff;
}

main {
    padding: 20px;
    text-align: center;
}

